@model List<ViewNotificationModel>


    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <span class="badge bg-green">@Model.Count</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        <li>
            @foreach (var item in Model.Take(3))
            {
                <a href="@item.Url">

                    <span>
                        <span>@item.NameSend</span>
                        <span class="time">@item.Date.ToString("dd/MM/yyyy")</span>
                    </span>
                    <span class="message">
                       @item.Notification
                    </span>
                </a>

            }

        </li>

        <li>
            <div class="text-center">
                <a>
                    <strong>Xem tất cả thông báo</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>

 





@*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <span class="badge">@ViewBag.Count</span>
</a>
<ul class="dropdown-menu">
    <li>
        <div style="width:80%;float:left;margin-left:5%">
            <h5>Thông báo</h5>
        </div>
    </li>
    <li>

        @foreach (var item in Model)
        {
            <a href="@item.Url">
                <div style="width:80%;">
                    <h6>@item.Notification</h6>

                </div>
                <i class="fa fa-clock-o"></i><san>@item.Date</san>
            </a>
        }

    </li>

    <li class="footer">
        <a href="#" class=" waves-effect waves-block">Tất cả thông báo</a>
    </li>
</ul>*@
