@model WebCoreApp.Infrastructure.ViewModels.Diary.ViewDiaryModel    
@{
    ViewData["Title"] = "Chi tiết nhật ký";
   
}
@section Scripts{
    <script src="~/js/Diary/evaluate.js" asp-append-version="true"></script>
}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ghi nhật ký</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- Title row -->
                    <div class="row">
                        <input type="hidden" id="daily_id" value="@Model.Id" />

                        <div class="col-xs-12 col-md-12 col-lg-12 table">
                            <table style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;font-size:20px">Nhật Ký Công Việc</th>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Ngày @Model.Date.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Họ và tên: @Model.FullName</td>
                                    </tr>
                                    <tr>
                                        <td>Chức danh: @Model.TenCV</td>
                                    </tr>
                                    <tr>
                                        <td>Tổ/Nhóm: @Model.TenTo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                        <br />
                        <div class="form-group">
                            <button class="btn btn-primary" onclick="detail(0)" data-toggle="tooltip" data-placement="bottom" title="Thêm"><i class="fa fa-plus-square-o"></i></button>
                            <button class="btn btn-warning" onclick="getdata()" data-toggle="tooltip" data-placement="bottom" title="Sửa"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-danger" onclick="confirmDelete()" data-toggle="tooltip" data-placement="bottom" title="Xóa"><i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-info" onclick="sendnotification()" data-toggle="tooltip" data-placement="bottom" title="Gửi"><i class="fa fa-envelope-o"></i></button>

                        </div>
                    </div>
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-condensed" id="dailytbl" style="font-family:'Times New Roman', Times, serif;font-size:11px;width:100%;color:#080808">
                                <thead>
                                    <tr>
                                        <th colspan="2" ;width:10%">Thời gian</th>
                                        <th style="text-align:center" rowspan="2">Nội dung công việc</th>
                                        <th style="text-align:center" rowspan="2">Phương pháp, công nghệ thực hiện công việc</th>
                                        <th style="text-align:center" rowspan="2">Kết quả thực hiện công việc</th>
                                        <th style="text-align:center" rowspan="2">Tổng Kết Các Công Việc Chính</th>
                                        <th style="text-align:center" rowspan="2">Đánh giá của Tổ trưởng</th>
                                        <th style="text-align:center" rowspan="2">Đánh giá của Phó phòng trực tiếp</th>
                                        <th style="text-align:center" rowspan="2">Đánh giá của Trưởng Phòng</th>
                                    </tr>
                                    <tr>
                                        <th>Từ</th>
                                        <th>Đến</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>

